[submodule "src/spot_ros2/spot_wrapper"]
	path = src/spot_ros2/spot_wrapper
	url = https://github.com/bdaiinstitute/spot_wrapper.git
[submodule "src/spot_ros2/ros_utilities"]
	path = src/spot_ros2/ros_utilities
	url = https://github.com/bdaiinstitute/ros_utilities.git
[submodule "src/spot_ros2/spot_description"]
	path = src/spot_ros2/spot_description
	url = https://github.com/bdaiinstitute/spot_description.git
	branch = main
